<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.file.mapper.GoodsInfoMapper">
	<insert id="insertGoodsFileInfo">
		INSERT INTO GOODS_FILE_INFO(GI_PATH,GI_ORIGIN_NAME,GI_NUM, GFI_SORT)
		VALUES(#{giPath}, #{giOriginName}, #{giNum}, #{gfiSort})
	</insert>
	<select id="selectGoodsFileInfos">
		SELECT GI_PATH,GI_ORIGIN_NAME,GI_NUM,GFI_SORT
		FROM GOODS_FILE_INFO
	</select>
	<select id="selectGoodsFileInfo">
		SELECT GI_PATH,GI_ORIGIN_NAME,GI_NUM,GFI_SORT
		FROM GOODS_FILE_INFO
		WHERE GI_NUM=#{giNum}
	</select>
</mapper>